extends ../layouts/main-layout.pug 

block styles
    link(rel="stylesheet" href="/css/style.css") 
    
block content
 

    form(action="/login" method="POST")
        .imgcontainer
            img.avatar(src='img/logo.png', alt='Avatar')
        .container
        if errorMessage
            div.alert.alert-danger #{errorMessage}
        label(for='email')
            b Email Adresi
        input(type='text', name='email', required='')
        label(for='password')
            b Şifre
        input(type='password', name='password', required='')
        .container
            .row
                button Giriş
                a.btn.btn-danger(href='http://localhost:3000/register') Kayıt Ol
       
      
       
          
