extends ../account/home.pug 

 
    
block content   
    main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 Size atananlar
    main.col-md-9.ms-sm-auto.col-lg-10.px-md-4    
        br 
        br
        h4 To Do'da veya Planner'da size atanan görevler burada görünür